<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12">
      <h1>Recipes</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <ul class="list-group">
        <% @recipes.each do |recipe| %>
          <li class="list-group-item"><%= link_to recipe.name, recipe %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
